body{
    margin: 0;
    padding: 0;
}

h2{
    background-color: brown;
    color: white;
    padding: 15px;
    margin-bottom: 50px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#figAzul{
    background-color: blue; 
    width: 200px; 
    height: 200px; 
    margin-right: 15px;
    margin-left: 15px;
}

#figRojo{
    background-color: red; 
    width: 200px; 
    height: 200px; 
    margin-right: 15px;
}

#figVerde{
    background-color: green; 
    width: 200px; 
    height: 200px; 
    margin-right: 15px;
}

#figAmarillo{
    background-color: yellow; 
    width: 200px; 
    height: 200px; 
    margin-right: 15px;
}

#figAzul, #figRojo, #figVerde, #figAmarillo:hover{
    cursor: pointer;
}